body{
    background-image: url("/img/bg.png");
    background-size: 100%;
}
html,body,main{
    height: 100%;
}
header{
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 58px;
    display: flex;
}
main{
    display: grid;
    place-items: center;
}
a{
    cursor: pointer;
}
.logotype{
    color: #FFF;
    font-family: Ubuntu;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 100% */
    margin: 18px auto 18px 79px;
}
.logotype:hover{
    transition:0.2s;
    color: #01813F;
}
.navigation{
    display: flex;
    flex-wrap: nowrap;
}
.navigation ul{
    display: flex;
    list-style:none;
}
.navigation ul li{
    margin-right: 25px;
}
.navigation ul::after{
    content: " ";
    width: 1px;
    height: 19px;
    flex-shrink: 0;
    opacity: 0.5;
    background: rgba(255, 255, 255, 0.90);
    margin-right: 27px;
    margin-top: auto;
    margin-bottom: auto;
}
.calendar{
    fill: #FFF;
}
.calendar:hover{
    transition:0.2s;
    fill: #01813F; 
}
.mail{
    fill: #FFF;
}
.mail:hover{
    transition:0.2s;
    fill: #01813F; 
}
.search{
    fill: #FFF;
}
.search:hover{
    transition:0.2s;
    fill: #01813F; 
}
.sub{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 79px;
}
.sub a:hover{
    transition:0.2s;
    color: #01813F;
}
.registration{
    background: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    width: 444px;
}
.flex_container{
    display: flex;
}
.sign_up_text{
    padding-top: 31px;
    margin-right: 215px;

}
.sign_up_text::before{
    content: " ";
    display: inline-block;
    width:18px;
    height:18px;
    background: #3CB878;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 43px;
    position: relative;
    bottom:-3px;
}
.log_in_text{
    margin-right: 60px;
    margin-left: auto;
    margin-top: auto;
}
.log_in_text:hover{
    text-decoration: underline;
}
.social_media{
    display: flex;
    justify-content: center;
    margin-top: 14px;
}
.facebook_button{
    width:157px; 
    height:46px;  
    background-image: url(/img/button_fb.svg);
    border: none; 
    outline: none;
    margin-right: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.facebook_text{
    margin-bottom: 17px;
}
.facebook_text::before{
    content: " ";
    display: inline-block;
    width: 1px;
    height: 28px;
    background: #0A162F;
    opacity: 0.1;
    margin-right: 18px;
    margin-left: 13px;
    position: relative;
    top: 10px;
}
.facebook_button:hover{
    background-image: url(/img/button_fb_hover.svg);
}
.g_plus_button{
    width:157px; 
    height:46px;  
    border: none; 
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/button_google.svg);
}
.g_plus_text{
    margin-bottom: 17px;
}
.g_plus_text::before{
    content: " ";
    display: inline-block;
    width: 1px;
    height: 28px;
    background: #0A162F;
    opacity: 0.1;
    margin-right: 30px;
    margin-left: 7px;
    position: relative;
    top: 10px;
}
.g_plus_button:hover{
    background-image: url(/img/button_google_hover.svg);
}
.google_img{
    height: 19px;
    width: 30px;
}
.or{
    text-align: center;
    margin-top: 31px;
    margin-bottom: 12px;
}
.or::after,
.or::before{
    content: " ";
    display: inline-block;
    width: 152px;
    height: 1px;
    flex-shrink: 0;
    background: #F2F2F2;
    position: relative;
    bottom:2px;
}
.relative{
    position: relative;
}
.input{
    margin-left: 60px;
    width: 324px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    padding-left: 20px;
    margin-bottom: 16px;
    z-index: 2;
}
.label{
    position: absolute;
    top: 14px;
    left: 80px;
    z-index: 1;
}
.input:focus + .label,
.input:not(:placeholder-shown) + .label{
    z-index: -1;
}
.input:focus {
    outline: 0;
    filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.21));
    /* background: url('/img/field_focused.png');
    background-size: 344px 46px; */
    /* fill: #FFF; */

}
.checkbox{
    margin-top: 12px;
    margin-bottom: 20px;
    margin-left: 60px;
    position: relative;

}
.custom_checkbox{
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    left: 0px;
    width: 20px;
    height: 20px;
    z-index: 3;
    cursor: pointer;
}
.checkbox_label{
    padding-left: 28px;

}
.checkbox_label::before{
    content: "";
    display:block;
    width: 20px;
    height: 20px;

    border: 1px solid #F2F2F2;
    background: rgba(0, 0, 0, 0.00);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}
.checkbox_label::after{
    content: "";
    display:block;
    width: 14px;
    height: 13.5px;
    background: url(/img/Vector\ 1.svg) no-repeat;
    background-size: 14px 13.5px;
    opacity: 0;
    margin-top: 3px;
    margin-bottom: 3.5px;
    margin-left:3px ;
    margin-right: 3px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: opacity .1s linear;
}
.custom_checkbox:checked + .checkbox_label::after{
    opacity: 1;
    color: red;
}
.create_account_button{
    width: 324px;
    height: 46px;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.80);
    border: 0cap;
    margin-left: 60px;
    margin-bottom: 38px;
}
.create_account_button:hover{
    background: #01813F;
}